<!DOCTYPE html>
<html           xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>


        <!-- script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
        </script -->
        <script type="text/javascript">
            $(document).ready(function () {
                ShowTime();
            });
            function ShowTime() {
                var dt = new Date();
                document.getElementById("lblTime").innerHTML = dt.toLocaleTimeString();
                window.setTimeout("ShowTime()", 1000); // Here 1000(milliseconds) means one 1 Sec  
            }
        </script>

    </h:head>
    <h:body>
        
        <!--div>
            <iframe src='//auroran.rastreo.gs/pro/applications/locator/?key=1a2b27329b8db305a58507e4fc038407&objects=449369,449367,431771&map=roadmap' 
                    width="900" height="400"></iframe>
        </div-->
            
        
        <h:form>

            <!-- p:chart type="metergauge" model="#{chartView.meterGaugeModel1}" style="width:400px;height:250px" / -->
            "#{chartView.battStatuses.size()}" 
            <h:dataTable value="#{chartView.battStatuses}" 
                         var="o"
                         styleClass="order-table"
                         headerClass="order-table-header"
                         rowClasses="order-table-odd-row,order-table-even-row" >
                
                <h:column>
                    <!-- column header -->
                    <!-- f:facet name="header">Fecha de Inicio</f:facet -->
                    <!-- row record -->
                    <!--(ID:#{o.navixyTracker.id})-->
                    "#{o.navixyTracker.label} : #{o.chartModel.value}% Carga"
                    <p:chart type="metergauge" model="#{o.chartModel}" style="width:200px;height:150px" />
                </h:column>

            </h:dataTable>


            <h1 style="text-align: center">Bienvenido,  ${login.firstName} ${login.lastName} ( ${login.username} - Usuario ${login.clientType} ) </h1> 
            <p style="text-align: center"> Direccion: ${login.address} </p> <BR /> <BR />

            <div>
                La hora actual es: 
                <label id="lblTime" style=" font-weight:bold"></label>
            </div>

            <!-- La hora es: <script> document.write(document.getElementById(lblTime).  innerHTML); </script> -->



            <br /><h:commandLink action="#{login.logout}" value="Salir del Sistema"></h:commandLink> 

            <BR /> 
            <h3>ETAPA 1 / 4</h3> <BR /> 
            Introduzca los datos de la Solicitud de Servicio de Candado Inteligente <BR /> 

            <BR /><h3>Seleccione el candado que piensa utilizar</h3> <BR /> 

            <h:outputLabel value="Candados Disponibles: " style="font-weight: bold" /> <br />
            <h:selectOneListbox value="#{trackers.selectedTrackerId}"    size="3">

                <f:selectItems value="#{trackers.trackerList}" var="opcion" 
                               itemValue= "#{opcion.id}"   
                               itemLabel="Modelo: #{opcion.source.model} -- Etiqueta: #{opcion.label} -- Serial: #{opcion.source.device_id} " >
                </f:selectItems>
            </h:selectOneListbox>





            <br /><br />

            <h3>Origen</h3> 
            <h:outputText value="Lugar " />
            <h:inputText id="originLocation" value="#{trackers.originLocation}" required="false"></h:inputText>
            <h:message for="originLocation"></h:message> <BR /> 

            <h:outputText value="Fecha " />
            <h:inputText id="originDate" value="#{trackers.originDate}" required="false"></h:inputText>
            <h:message for="originDate"></h:message> <BR /> 


            <BR /><h3>Destino</h3>                 
            <h:outputText value="Lugar " />
            <h:inputText id="destinyLocation" value="#{trackers.destinyLocation}" required="false"></h:inputText>
            <h:message for="destinyLocation"></h:message> <BR />

            <h:outputText value="Fecha " />
            <h:inputText id="destinyDate" value="#{trackers.destinyDate}" required="false"></h:inputText>
            <h:message for="destinyDate"></h:message> <BR /> 

            <BR />               
            Candadero <BR /><BR /> 

            Contenedor <BR /><BR /> 

            Supervisor DGA <BR /><BR /> 




            <h:commandButton action="#{trackers.validate}" value="Procesar"></h:commandButton>

            <!--                <h:outputLabel value="Hola: {trackers.selectedTrackerId}^" style="font-weight: bold" />-->


            <!--                <h:dataTable value="{trackers.trackerList}" var="o" styleClass="order-table" headerClass="order-table-header" rowClasses="order-table-odd-row,order-table-even-row" >
            
                                    <h:column> <f:facet name="header">ID Interno de Dispositivo</f:facet>
                                        {o.id}
                                    </h:column>
            
                                    <h:column> <f:facet name="header">Etiqueta</f:facet>
                                        {o.label}
                                    </h:column>
            
                                    <h:column> <f:facet name="header">Modelo</f:facet>
                                        {o.source.model}
                                    </h:column>
            
                                    <h:column> <f:facet name="header">Es Candado Clonado?</f:facet>
                                        {o.clone}
                                    </h:column>
                                
                                </h:dataTable>-->

        </h:form>
    </h:body>
</html>
<!--converter="{loginOptionConverter}"-->