<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>DGA - ReComTAC</title>
    </h:head>
    <h:body>
hoeeela

        <h:form>
            <h2> Bienvenido #{UserBean.login} </h2>
            <h3> con password #{UserBean.password} </h3>
            
            Nombre:  #{UserBean.selectedLogin.optionName} <BR />
            Descripcion:  #{UserBean.selectedLogin.optionDesc} <BR />
            Hashing:  #{UserBean.selectedLogin.loginHash}  <BR />
            PassCode: #{UserBean.passcode}
  
        
        
        
        <h:commandButton id="back" value="Back" action="Bienvenida" />
        </h:form>
    </h:body>
</html>

