<!DOCTYPE html>
<html           xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Facelet Title</title>
</h:head>
<h:body>
	<h:form>
		<p>Welcome #{login.username}</p>
		<h:commandLink action="#{login.logout}" value="Logout"></h:commandLink> <br /><br /><br />
                
                
                <BR /> 
                <h3>ETAPA 2 / 4</h3> <BR /> 
                
                <h:outputLabel value="Candado seleccionado: ^#{trackers.selectedTracker.label}^" style="font-weight: bold" />
                
                <BR /> <BR /> <h:outputLabel value="Candado seleccionado: ^#{login}^" style="font-weight: bold" />

                
                
<!--                <h:dataTable value="{trackers.trackerList}" var="o" styleClass="order-table" headerClass="order-table-header" rowClasses="order-table-odd-row,order-table-even-row" >

                        <h:column> <f:facet name="header">ID Interno de Dispositivo</f:facet>
                            {o.id}
                        </h:column>

                        <h:column> <f:facet name="header">Etiqueta</f:facet>
                            {o.label}
                        </h:column>

                        <h:column> <f:facet name="header">Modelo</f:facet>
                            {o.source.model}
                        </h:column>

                        <h:column> <f:facet name="header">Es Candado Clonado?</f:facet>
                            {o.clone}
                        </h:column>
                    
                    </h:dataTable>-->
                
	</h:form>
</h:body>
</html>
<!--converter="{loginOptionConverter}"-->