<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">Home</ui:define>

    <ui:define name="header">
        <meta name="description" content=""/>
        <meta property="og:description" content="" />
        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
    </ui:define>

    <ui:define name="content">
        <!--		<h1>Home</h1>-->

        <!--		<h1>{welcome.message}</h1>-->
        <!--                <h1>Home</h1>-->

        <html xmlns="http://www.w3.org/1999/xhtml"   
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:ui="http://java.sun.com/jsf/facelets"
              >
            <h:head>
                <h:outputStylesheet library="css" name="table-style.css"  />
            </h:head>
            <h:body>
                <h:form>
                    <h1>Captura de Datos de Navixy</h1>

                    <h:dataTable value="#{welcome.trackers}" var="o"
                                 styleClass="order-table"
                                 headerClass="order-table-header"
                                 rowClasses="order-table-odd-row,order-table-even-row"
                                 >

                        <h:column>
                            <!-- column header -->
                            <f:facet name="header">ID Interno de Dispositivo</f:facet>
                            <!-- row record -->
                            #{o.id}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Etiqueta</f:facet>
                                #{o.label}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Modelo</f:facet>
                                #{o.source.model}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Es Candado Clonado?</f:facet>
                                #{o.clone}
                        </h:column>

                    </h:dataTable>


                    <h:dataTable value="#{welcome.tracks}" var="o"
                                 styleClass="order-table"
                                 headerClass="order-table-header"
                                 rowClasses="order-table-odd-row,order-table-even-row"
                                 >
                        <h:column>
                            <!-- column header -->
                            <f:facet name="header">Fecha de Inicio</f:facet>
                            <!-- row record -->
                            #{o.start_date}
                        </h:column>
                        <h:column>
                            <!-- column header -->
                            <f:facet name="header">Salida</f:facet>
                            <!-- row record -->
                            #{o.start_address}
                        </h:column>    			
                        <h:column>
                            <!-- column header -->
                            <f:facet name="header">Fecha de Fin</f:facet>
                            <!-- row record -->
                            #{o.end_date}
                        </h:column>  

                        <h:column>
                            <f:facet name="header">Llegada</f:facet>
                                #{o.end_address}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Velocidad Promedio    </f:facet>
                                #{o.avg_speed}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Longitud</f:facet>
                                #{o.length}
                        </h:column>

                    </h:dataTable>
                </h:form>
                <h:form>    
                    <br />
                    Pulse el siguiente boton para abrir el Candado
                    <!--        <button onclick="{candado.candado}">open</button>-->
                    <h:commandButton   value = "ABRETE SESAMO" action="#{candado.open}" />

                    <!--<h:link outcome = "user" value = "left" onclick="{welcome.candado}">Abrir</h:link>-->
                </h:form>
            </h:body>
        </html>

    </ui:define>
</ui:composition>
