<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" template="template.xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"> 

    <h:head>              
        <title>Login Navixy</title>        
        <meta charset="utf-8" />
        <script src="resources/script/app3.js"></script>
        <style>
            .error {color:blue}
        </style>
    </h:head>

    <h:body>


   <h1> Bienvenido a la Demo de Navixy </h1>

	<h:form>
		<h3>Navixy Login</h3>
		<h:outputText value="Username " />
		<h:inputText id="username" value="#{login.username}"></h:inputText>
		<h:message for="username"></h:message>
		<br></br><br></br>
		
		<h:outputText value="Password " />
		<h:inputSecret id="password" value="#{login.password}"></h:inputSecret>
		<h:message for="password"></h:message>
		<br></br><br></br>
		
		<h:commandButton action="#{login.validate}" value="Login"></h:commandButton>
                <h:commandButton id="reset" value="Limpiar" type="reset" />
                
	</h:form>

    </h:body>
</html>



<!--
        <h:form>
            <h:panelGrid>   
                <h:commandButton id="reset" value="Limpiar" type="reset" />
                <h:commandButton   value = "2" action="{navigationController.pageChanger}" >
                    <f:param name = "pageId" value = "3" />
                </h:commandButton>
            </h:panelGrid>    
        </h:form>
-->


               
<!--                <h:outputLabel value="Seleccione" style="font-weight: bold" />
                <h:selectOneRadio value="{UserBean.selectedLogin.optionName}" 
                                  converter="{loginOptionConverter}" >
                    <f:selectItems value="{UserBean.loginOptions}" 
                                   var="opcionSeleccion" 
                                   itemValue="{opcionSeleccion.optionName}"   
                                   itemLabel="{opcionSeleccion.optionDesc}" >
                    </f:selectItems>
                </h:selectOneRadio>   -->

<!--        Container for map
        <div id="mapContainer"></div> <p id="demo">Change Me</p> <button type="button" onclick="myFunction()">Try Me</button> -->
