<!DOCTYPE html>
<html           xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>RECOMTAC - DGA</title>
        <meta charset="utf-8" />

        <script src="resources/script/app3.js"></script>
        
        <style>
            .error {color:blue}
        </style>

    </h:head>
    <h:body>

<!--        Container for map
        <div id="mapContainer"></div>
        <p id="demo">Change Me</p>
        <button type="button" onclick="myFunction()">Try Me</button>-->

Bienvenido a la Demo de DGA

        <h:form>
            
            <h:messages styleClass="error" />
            
            <h:panelGrid>
                <h:outputLabel value="Login: " style="font-weight: bold" />
                <h:inputText value="#{UserBean.login}" 
                             id="login"
                             label="Username"
                             required="true" 
                             requiredMessage="Error: Introduce el Login"  />
                
                <h:message for="login" styleClass="error" />
                
                <h:outputLabel value="Password: " style="font-weight: bold" />
                <h:inputSecret value="#{UserBean.password}" 
                               label="Password"
                               required="true"
                               requiredMessage="Error: Introduce el Password" />
                
                <h:outputLabel value="Login Selectivo: " style="font-weight: bold" />
                <h:selectOneRadio value="#{UserBean.selectedLogin.optionName}" 
                                  converter="#{loginOptionConverter}" >
                    <f:selectItems value="#{UserBean.loginOptions}" 
                                   var="opcionSeleccion" 
                                   itemValue="#{opcionSeleccion.optionName}"   
                                   itemLabel="#{opcionSeleccion.optionDesc}" >
                    </f:selectItems>
                </h:selectOneRadio>    
                

                <h:commandButton id="submit" 
                                 value="Loguear" 
                                 action="#{navigationController.pageChanger}" >
                    <f:param name = "pageId" 
                             value = "2" />
                </h:commandButton>
                
                <h:commandButton id="reset" value="Limpiar" type="reset" />
                
            </h:panelGrid>    
        </h:form>

    </h:body>
</html>



<!--
        <h:form>
            <h:panelGrid>   
                <h:commandButton id="reset" value="Limpiar" type="reset" />
                <h:commandButton   value = "2" action="{navigationController.pageChanger}" >
                    <f:param name = "pageId" value = "3" />
                </h:commandButton>
            </h:panelGrid>    
        </h:form>
-->