<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawCurveTypes);

function drawCurveTypes() {
      var data = new google.visualization.DataTable(),
              dateFormatter = new google.visualization.DateFormat({formatType: 'short'});
      data.addColumn('string', 'ts');
      data.addColumn('number', 'v');
      //data.addColumn('number', 'Cats');
/*
     data.addRows([
        [0, 0],    [1, 10],   [2, 23],  [3, 17],   [4, 18],  [5, 9]
              ]);
*/
data.addRows(#{fuels.fuelChartData});

      var options = {
        hAxis: {
          title: 'Track Data'
        },
        vAxis: {
          title: 'Combustible'
        },
        series: {
          1: {curveType: 'function'}
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    </script>

  
    </h:head>
    <h:body>
        

            <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>

 
        
<h1>ESTATUS </h1>


<h:dataTable value="#{fuels.state}" var="o"
                                 styleClass="order-table"
                                 headerClass="order-table-header"
                                 rowClasses="order-table-odd-row,order-table-even-row"
                                 >

                        <h:column>
                            <!-- column header -->
                            <f:facet name="header">ID Interno de Dispositivo</f:facet>
                            <!-- row record -->
                            #{o.battery_level}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Etiqueta</f:facet>
                                #{o.gps}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Modelo</f:facet>
                                #{o.connection_status}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Es Candado Clonado?</f:facet>
                                #{o.actual_track_update}
                        </h:column>

                    </h:dataTable>
    </h:body>
</html>

