<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">Home</ui:define>

    <ui:define name="header">
        <meta name="description" content=""/>
        <meta property="og:description" content="" />
        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
    </ui:define>

    <ui:define name="content">
        <!--		<h1>Home</h1>-->

        <!--		<h1>{welcome.message}</h1>-->
        <!--                <h1>Home</h1>-->

        <html xmlns="http://www.w3.org/1999/xhtml"   
              xmlns:h="http://java.sun.com/jsf/html"
              xmlns:f="http://java.sun.com/jsf/core"
              xmlns:ui="http://java.sun.com/jsf/facelets"
              >
            <h:head>
                <h:outputStylesheet library="css" name="table-style.css"  />
            </h:head>
            <h:body>
                <h:form>
                    <h1>ABIERTO</h1>
                    
                    Estado: <<#{candado.actividad}>>

                    <h:dataTable value="#{status.state}" var="s"
                                 styleClass="order-table"
                                 headerClass="order-table-header"
                                 rowClasses="order-table-odd-row,order-table-even-row"
                                 >

                        <h:column>
                            <!-- column header -->
                            <f:facet name="header">Nivel GSM</f:facet>
                            #{s.gsm.network_name }                            
                        </h:column>
                        <h:column>
                            <!-- column header -->
                            <f:facet name="header">Nivel GSM</f:facet>
                            #{s.gsm.signal_level}                            
                        </h:column>

                        <h:column>
                            <f:facet name="header">Señal GPS</f:facet>
                                #{s.gps.signal_level}
                        </h:column>

                    </h:dataTable>

                </h:form>

            </h:body>
        </html>

    </ui:define>
</ui:composition>
