<!DOCTYPE html>
<html           xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>RECOMTAC</title>
        <meta charset="utf-8" />

        <script src="resources/script/app3.js"></script>

    </h:head>
    <h:body>

<!--        Container for map
        <div id="mapContainer"></div>
        <p id="demo">Change Me</p>
        <button type="button" onclick="myFunction()">Try Me</button>-->


        <h:form>
            <h:panelGrid>
                <h:outputLabel value="Login: " style="font-weight: bold" />
                <h:inputText value="#{UserBean.login}" 
                             required="false" 
                             requiredMessage="Error: Introduce el Login"  />
                <h:outputLabel value="Password: " style="font-weight: bold" />
                <h:inputSecret value="#{UserBean.password}" 
                               required="false"
                               requiredMessage="Error: Introduce el Password" />
                <h:commandButton id="submit" value="Loguear" action="respuesta" />
                <h:commandButton id="reset" value="Limpiar" type="reset" />
            </h:panelGrid>    
        </h:form>

    </h:body>
</html>
